@inherits LayoutComponentBase

<div class="container-fluid bg-main">
    <div class="container d-flex flex-column justify-content-center align-items-center p-5 text-center">
        <SectionOutlet SectionName="PageTitle" />
    </div>
</div>

@Body

<hr />

<div class="container">
    <footer class="d-flex align-items-center justify-content-center">
        <p>
            &copy; @DateTime.Today.Year - BookTime | Developed by <a href="https://github.com/Rafaelse6" target="_blank">Rafael Santos</a>
        </p>
    </footer>
</div>