@page "/"
@page "/page/{pageNo:int?}"
@inject IBookService BookService;

<PageTitle>Home | BookTime</PageTitle>

<SectionContent SectionName="PageTitle">
    <h1 class="m-0 text-white fw-bold">BookTime</h1>
</SectionContent>

<div class="container-lg">
    <div class="row">
        <div class="col md-9">
            <div class="row">
                <div class="row">
                    @foreach (var b in _books)
                    {
                        <div class="col-sm-6 col-lg-3">
                            <a href="/books/@b.Id" title="@b.Title">
                                <figure bg-main-light>
                                    <img src="@b.Image" alt="@b.Title" style="width: 248px; height: 445px;" />
                                </figure>
                                <div class="p-2">
                                    <h6>@b.Title</h6>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int? PageNo { get; set; } = 1;

    private GenreDTO[] _genres = [];
    private BookListDTO[] _books = [];
    private int _totalCount = 0;

    private const int PageSize = 16;


    protected override async Task OnInitializedAsync()
    {
        _genres = await BookService.GetReadAsync(wasRead: true);
        var booksResult = await BookService.GetBooksAsync(PageNo ?? 1, PageSize);
        _books = booksResult.Records;
        _totalCount = booksResult.TotalCount;
    }
}